


img{
width: 100px;
}
h1{
	color: red;
}


.ven{
	color: white;
	background :blue;
	font-size: 10px;
	width: 100px;
	margin: 50px
	width: 100px;



}
span{
	color: red;
}
h2{
	/*padding-top: 15px;
	padding-bottom: 15px;*/
	color: white;
.
}
.gost{
	font-size:25px;
	/*height: 100px;8*/
	width:2000px;
	background:green;
	/*margin-top: 100px;*/
	padding-left: 40px;
	padding-bottom: 50px;
	padding-top: 50px;

}
#block{
	background :green;
}



li {
	font-size: 30px;
	border: 1px solid black;
	
}